// View page source	
.td-page-meta--view { display: none !important; }

// Edit this page	
.td-page-meta--edit { display: none !important; }

// Create child page	
.td-page-meta--child { display: none !important; }

// Create documentation issue	
// .td-page-meta--issue { display: none !important; }

// Create project issue	
// .td-page-meta--project-issue { display: none !important; }